<h2 class="sub-header">编辑联系人</h2>
<form (submit)="editContact()">
  <div class="form-group">
    <label for="name">姓名</label>
    <input
      type="email"
      class="form-control"
      id="name"
      name="name"
      placeholder="Name"
      [(ngModel)]="formData.name">
  </div>
  <div class="form-group">
    <label for="email">邮箱</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Email"
      [(ngModel)]="formData.email">
  </div>
  <div class="form-group">
    <label for="phone">电话</label>
    <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="formData.phone" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-info">保存</button>
</form>
