<div class="tag-container">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">通讯录</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">itcast@itcast.cn</a></li>
          <li><a href="#">退出</a></li>
        </ul>
        <!-- <form class="navbar-form navbar-right">
          <input type="text" class="form-control" placeholder="Search...">
        </form> -->
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><a href="index.html">联系人管理 <span class="sr-only">(current)</span></a></li>
          <li><a href="tag-list.html">标签管理</a></li>
          <li><a href="about.html">关于</a></li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="sub-header">标签管理</h2>
        <div class="table-responsive">
          <a class="btn btn-success pull-right" href="tag-new.html">新增标签</a>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>序号</th>
                <th>分类名称</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>朋友</td>
                <td>
                  <a href="edit.html">编辑</a>
                  <a href="#">删除</a>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>家人</td>
                <td>
                  <a href="edit.html">编辑</a>
                  <a href="#">删除</a>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>同学</td>
                <td>
                  <a href="edit.html">编辑</a>
                  <a href="#">删除</a>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>公司</td>
                <td>
                  <a href="edit.html">编辑</a>
                  <a href="#">删除</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
